{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Cerebro y drogas</h1>
        <hr class="my-4">
        <iframe src="https://docs.google.com/document/d/15R6F5Pe-pZzBYiasSvEtY40ND9y1N2E9WPT5XMS22AY/edit?usp=sharing"></iframe>
        <a class="btn btn-danger btn-lg" href="" role="button">Ver completo</a>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">La marihuana ¿es nociva o saludable?</h1>
        <hr class="my-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eQyLl8L0n3k" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a class="btn btn-danger btn-lg" href="https://www.youtube.com/embed/eQyLl8L0n3k" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}