{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Generación del 98</h1>
        <hr class="my-4">
        <iframe src="https://app.emaze.com/@AOWLCZFQW/generacin-del-98" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://drive.google.com/file/d/1-sxt-j7n0xe2Q0PxWlf6gZZ6MG4oY-Gi/preview" target="_blank" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}