{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">23 cosas que no te cuentan sobre el capitalismo</h1>
        <hr class="my-4">
        <p class="lead">Capitulo 1</p>
        <iframe src="https://drive.google.com/file/d/17q285sL_Isw_pBW7KWMIfUr0OenSzmCg/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 2</p>
        <iframe src="https://drive.google.com/file/d/1WiOMU9eTf2AyKIXAEQ5kAu5yV6-m_zP3/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 3</p>
        <iframe src="https://drive.google.com/file/d/1YHuilQZJm7HbM6Eb7sEXsaIya0GridS2/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 4</p>
        <iframe src="https://drive.google.com/file/d/1LV7UTma1OBqateEjUu5EGy_J2PA6dizN/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 5</p>
        <iframe src="https://drive.google.com/file/d/1rtoGPDDxHuJJneyWWP6Fvi6v-i6YGv6D/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 6</p>
        <iframe src="https://drive.google.com/file/d/1bfOZCzBpB9iYTrkfaRaKTsELN76jMe40/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 7</p>
        <iframe src="https://drive.google.com/file/d/1dJUK9ivw7cD-JBOYR0slGRQL0SY9YcaM/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 8</p>
        <iframe src="https://drive.google.com/file/d/1c-uJkloQLOJQ2NnxKldyXzoTFdcpJsW8/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 9</p>
        <iframe src="https://drive.google.com/file/d/1VwXKS8OLcNX1iZKudd6u4fZ6g1h8ak56/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 10</p>
        <iframe src="https://drive.google.com/file/d/1MM8NSLYARrFDMKT2mnoRoruZG3CNlyjc/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 11</p>
        <iframe src="https://drive.google.com/file/d/1WV-CTnS6_sukwGL6wUakXv_MKB2SeuV3/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 12</p>
        <iframe src="https://drive.google.com/file/d/18Y6R0hsIbUvZYN8pXBdQa73qLIHBeMhK/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 13</p>

        <p class="lead">Capitulo 14</p>
        <iframe src="https://drive.google.com/file/d/141UBHO8l-m3e1NZM1zLvvx8aO72TO0CZ/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 15</p>
        <iframe src="https://drive.google.com/file/d/1wbeHVXN0twqD6R5uFJUNCmT4MHGoCYwC/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 16</p>
        <iframe src="https://drive.google.com/file/d/1ToWh8vxzTV-AFcwR-dH-8yUKPDbDUuZb/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 17</p>
        <iframe src="https://drive.google.com/file/d/1vm5Yuq9y2JP3qOj3Ez0g-N4sThsWE3nZ/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 18</p>
        <iframe src="https://drive.google.com/file/d/1MOTYTNP4O2HEwCryU1cdngqnJ01dzrA-/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 19</p>
        <iframe src="https://drive.google.com/file/d/1N-nRWTFnNpvU118mEW5sC4THYbFBcEYm/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 20</p>
        <iframe src="https://drive.google.com/file/d/16AqltosCvWomX2nI7I7K_qL38G4qkkcZ/preview" width="640" height="480"></iframe>
        <p class="lead">Capitulo 21</p>
        <iframe src="https://drive.google.com/file/d/1vnG2VKEfVbk52l5_lc9RBGp8znvanchV/preview" width="640" height="480"></iframe>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">23 cosas que no te cuentan sobre el capitalismo</h1>
        <hr class="my-4">
        <iframe src="https://drive.google.com/file/d/1TBROASJcGt926SiJ-e1W-c9BxN1Rg-g9/preview" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://drive.google.com/file/d/1TBROASJcGt926SiJ-e1W-c9BxN1Rg-g9/preview" target="_blank" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}