{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Aceite de Lorenzo</h1>
        <hr class="my-4">
        <iframe src="https://docs.google.com/document/d/1TfVf9oqE4DV_4Hrbl5R-I6dRzCpzPHo0EjiNUl8eo1c/edit?usp=sharing"></iframe>
        <a class="btn btn-danger btn-lg" href="https://docs.google.com/document/d/1TfVf9oqE4DV_4Hrbl5R-I6dRzCpzPHo0EjiNUl8eo1c/edit?usp=sharing" target="_blank" role="button">Ver completo</a>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Aceite de Lorenzo</h1>
        <hr class="my-4">
        <iframe src="https://drive.google.com/file/d/1-sxt-j7n0xe2Q0PxWlf6gZZ6MG4oY-Gi/preview" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://drive.google.com/file/d/1-sxt-j7n0xe2Q0PxWlf6gZZ6MG4oY-Gi/preview" target="_blank" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}