{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Literatura del Renacimiento europeo</h1>
        <hr class="my-4">
        <iframe src="https://app.emaze.com/@AOTTOFIFF/picture-it" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://app.emaze.com/@AOTTOFIFF/picture-it" target="_blank" role="button">Ver completo</a>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Literatura Medieval europea</h1>
        <hr class="my-4">
        <iframe src="https://app.emaze.com/@AOTZRIOOL/un-recorridopor-la-edad-media-11" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://app.emaze.com/@AOTZRIOOL/un-recorridopor-la-edad-media-11" target="_blank" role="button">Ver completo</a>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Literatura Española Contemporánea</h1>
        <hr class="my-4">
        <iframe src="https://app.emaze.com/@AOZOZQWTO/best-in-class" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://app.emaze.com/@AOZOZQWTO/best-in-class" target="_blank" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}