{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">La Franja Amarilla</h1>
        <hr class="my-4">
        <p class="lead">Lo que le falta a Colombia</p>
        <iframe src="https://drive.google.com/file/d/1VSPFD2K73sYV4qTPuX6eF6DRb9MnJ1xj/preview" width="640" height="480"></iframe>
        <p class="lead">Colombia el Proyecto Nacional y la Franja Amarilla</p>
        <iframe src="https://drive.google.com/file/d/168kdF-9BvwvfRZP8O9-GsfRCfapLcmHz/preview" width="640" height="480"></iframe>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">La Franja Amarilla</h1>
        <hr class="my-4">
        <iframe src="https://drive.google.com/file/d/1GucXSPHNebi_9jcoEHtbuzQP7R5ttGLu/preview" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://drive.google.com/file/d/1GucXSPHNebi_9jcoEHtbuzQP7R5ttGLu/preview" target="_blank" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}