{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Santiago Alonso Bautista Quintero</h1>
        <p class="lead">LA IMPORTANCIA DE LA PROFUNDIZACIÓN Y EL MEJORAMIENTO DEL PROYECTO DE EDUCACIÓN SEXUAL</p>
        <hr class="my-4">
        <p class="lead">Documento</p>
        <iframe src="https://docs.google.com/document/d/12WJxPfIKLeUtnhBJjWWGvu88MCFyNZC4/edit?usp=sharing&ouid=105720031129498405979&rtpof=true&sd=true" width="640" height="480"></iframe>
        <p class="lead">Presentacion</p>
        <iframe src="https://docs.google.com/presentation/d/110yqCoxL6B-mo1q_LgH5byxkZJxL9CzB/edit?usp=sharing&ouid=105720031129498405979&rtpof=true&sd=true" width="640" height="480"></iframe>
        <p class="lead">Infografia</p>
        <iframe src="https://drive.google.com/file/d/1TXrFkLJ49tw4kFNqCwG-QPWy87iY3dCU/preview" width="640" height="480"></iframe>
        <p class="lead">Folleto</p>
        <iframe src="https://drive.google.com/file/d/17ENj_xTLuT2W8ZeYVxOGyG_wZT-h8YRr/preview" width="640" height="480"></iframe>
        <hr class="my-4">
        <p class="lead">Realizado por: Santiago Alonso Bautista Quintero, Estudiante 11 2021, Tutora: Monica Rozo Rojas</p>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Juan Andrés Arias Londoño</h1>
        <p class="lead">Lectura de enunciados en pruebas y evaluaciones como herramienta para la construcción del aprendizaje en el Gimnasio Nicolás de Federman</p>
        <hr class="my-4">
        <p class="lead">Documento</p>
        <iframe src="https://drive.google.com/file/d/1ooiH3R5mS-5SmyK6nLLFG1U_YIQMYyNR/preview" width="640" height="480"></iframe>
        <p class="lead">Presentacion</p>
        <iframe src="https://drive.google.com/file/d/1sIg8itVjGjfD0CxB1E9cHT3Who-59zAl/preview" width="640" height="480"></iframe>
        <p class="lead">Infografia</p>
        <iframe src="https://drive.google.com/file/d/1QMcnAjGDU4QZUBG6cpzyXgdWb6QIrXD5/preview" width="640" height="480"></iframe>
        <p class="lead">Folleto</p>
        <iframe src="https://drive.google.com/file/d/1lu9reLTeP62l0hkASkhaSOFwOBKGHXXh/preview" width="640" height="480"></iframe>
        <p class="lead">Actividad</p>
        <iframe src="https://drive.google.com/file/d/1QSNTHtFyF8pdyq5Luq6M9d5xuCUKrWA1/preview" width="640" height="480"></iframe>
        <hr class="my-4">
        <p class="lead">Realizado por: Juan Andrés Arias Londoño, Estudiante 11 2021, Tutora: Monica Rozo Rojas</p>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Mariana Agudelo Martínez</h1>
        <p class="lead">ESTRATEGIAS PARA POTENCIAR LAS INTELIGENCIAS MÚLTIPLES PROPUESTAS POR HOWARD GARDNER</p>
        <hr class="my-4">
        <p class="lead">Documento</p>
        <iframe src="https://drive.google.com/file/d/1E9J4hkVnjVG97YuAB2Q_qmsUuQdombfF/preview" width="640" height="480"></iframe>
        <p class="lead">Presentacion</p>
        <iframe src="https://drive.google.com/file/d/1ixzsKXNA21qJw8EOd55N_dyexJZl3WnH/preview" width="640" height="480"></iframe>
        <p class="lead">Infografia - Inteligencia emocional</p>
        <iframe src="https://drive.google.com/file/d/16JabJcGvb9fLsPrFpaMae0g-hcTFUoWK/preview" width="640" height="480"></iframe>
        <p class="lead">Infografia - Inteligencia musical</p>
        <iframe src="https://drive.google.com/file/d/1NLb9H5H--lOCCD8OrN2bHyk7xkfB53WM/preview" width="640" height="480"></iframe>
        <p class="lead">Infografia - Inteligencia corporal</p>
        <iframe src="https://drive.google.com/file/d/10CEmcQtUnbtej1u3zSMiEv4YEsNN4Ryi/preview" width="640" height="480"></iframe>
        <p class="lead">Folleto</p>
        <iframe src="https://drive.google.com/file/d/102aTRZ_k3y7FXPwzr681QCzPN-yBmHYe/preview" width="640" height="480"></iframe>
        <p class="lead">Video</p>
        <iframe src="https://drive.google.com/file/d/1OaTaxrNob5wBLTHrLdka7ife8h3iwo9m/preview" width="640" height="480"></iframe>
        <hr class="my-4">
        <p class="lead">Realizado por: Mariana Agudelo Martínez, Estudiante 11 2020, Tutora: Monica Rozo Rojas</p>
    </div>
</div>

{% endblock %}