{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Santiago Alonso Bautista Quintero</h1>
        <p class="lead">LA IMPORTANCIA DE LA PROFUNDIZACIÓN Y EL MEJORAMIENTO DEL PROYECTO DE EDUCACIÓN SEXUAL</p>
        <hr class="my-4">
        <p class="lead">Documento</p>
        <iframe src="https://docs.google.com/document/d/12WJxPfIKLeUtnhBJjWWGvu88MCFyNZC4/edit?usp=sharing&ouid=105720031129498405979&rtpof=true&sd=true" width="640" height="480"></iframe>
        <p class="lead">Presentacion</p>
        <iframe src="https://docs.google.com/presentation/d/110yqCoxL6B-mo1q_LgH5byxkZJxL9CzB/edit?usp=sharing&ouid=105720031129498405979&rtpof=true&sd=true" width="640" height="480"></iframe>
        <p class="lead">Infografia</p>
        <iframe src="https://drive.google.com/file/d/1TXrFkLJ49tw4kFNqCwG-QPWy87iY3dCU/preview" width="640" height="480"></iframe>
        <p class="lead">Folleto</p>
        <iframe src="https://drive.google.com/file/d/17ENj_xTLuT2W8ZeYVxOGyG_wZT-h8YRr/preview" width="640" height="480"></iframe>
        <hr class="my-4">
        <p class="lead">Realizado por: Santiago Alonso Bautista Quintero, Estudiantes 11 2021</p>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Juan Andrés Arias Londoño</h1>
        <p class="lead">Lectura de enunciados en pruebas y evaluaciones como herramienta para la construcción del aprendizaje en el Gimnasio Nicolás de Federman</p>
        <hr class="my-4">
        <p class="lead">Documento</p>
        <iframe src="https://drive.google.com/file/d/1lwNQcIqUOacHQV6GJJMbD5FW7sIgMhXC/preview" width="640" height="480"></iframe>
        <p class="lead">Presentacion</p>
        <iframe src="https://drive.google.com/file/d/1OywErApoExKXqmT5h_prDvtQ3DYEKGTJ/preview" width="640" height="480"></iframe>
        <p class="lead">Infografia</p>
        <iframe src="https://drive.google.com/file/d/1QMcnAjGDU4QZUBG6cpzyXgdWb6QIrXD5/preview" width="640" height="480"></iframe>
        <p class="lead">Folleto</p>
        <iframe src="https://drive.google.com/file/d/1lu9reLTeP62l0hkASkhaSOFwOBKGHXXh/preview" width="640" height="480"></iframe>
        <p class="lead">Actividad</p>
        <iframe src="https://drive.google.com/file/d/1QSNTHtFyF8pdyq5Luq6M9d5xuCUKrWA1/preview" width="640" height="480"></iframe>
        <hr class="my-4">
        <p class="lead">Realizado por: Juan Andrés Arias Londoño, Estudiantes 11 2021</p>
    </div>
</div>

{% endblock %}