{% extends "layout.html" %}

{% block content %}
<div class= "container">

    <div class="jumbotron" >
        <h1 class="display-4">Bienvenido a 6°</h1>
        <p class="lead">Aqui encontraras actividades relacionadas con 6°</p>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Biologia y quimica</h1>
        <p class="lead">Aqui encontraras actividades relacionadas con las materias de biologia y quimica</p>
        <hr class="my-4">
        <p>haz click aqui para ver todas actividades relacionadas con esta materia</p>
        <a class="btn btn-danger btn-lg" href="/6/Biologia_Quimica" role="button">Click aqui</a>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Sociales integradas</h1>
        <p class="lead">Aqui encontraras actividades relacionadas con las materias de Historia y geografia</p>
        <hr class="my-4">
        <p>haz click aqui para ver todas actividades relacionadas con esta materia</p>
        <a class="btn btn-danger btn-lg" href="/6/Sociales_integradas" role="button">Click aqui</a>
    </div>
    
    <div class="jumbotron">
        <h1 class="display-4">Español</h1>
        <p class="lead">Aqui encontraras actividades relacionadas con la materia</p>
        <hr class="my-4">
        <p>haz click aqui para ver todas actividades relacionadas con esta materia</p>
        <a class="btn btn-danger btn-lg" href="/6/Español" role="button">Click aqui</a>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Filosofia, religion y etica</h1>
        <p class="lead">Aqui encontraras actividades relacionadas con las materias de filosofia, etica y religion</p>
        <hr class="my-4">
        <p>haz click aqui para ver todas actividades relacionadas con esta materia</p>
        <a class="btn btn-danger btn-lg" href="/6/Filosofia" role="button">Click aqui</a>
    </div>

</div>
{% endblock %}