{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Titulo principal</h1>
        <p class="lead">Caracteristicas de la OVA</p>
        <hr class="my-4">
        <p class="lead">Nombre o formato del primer archivo</p>
        <iframe src="https://drive.google.com/file/d/11HLJd5S5DlYDpUB_wgEmH9lp1Kdrop5T/preview" width="640" height="480"></iframe>
        <p class="lead">Nombre o formato del segundo archivo</p>
        <iframe src="https://drive.google.com/file/d/1wbeHVXN0twqD6R5uFJUNCmT4MHGoCYwC/preview" width="640" height="480"></iframe>
        <p class="lead">Nombre o formato del tercer archivo</p>
        <iframe src="https://drive.google.com/file/d/1wbeHVXN0twqD6R5uFJUNCmT4MHGoCYwC/preview" width="640" height="480"></iframe>
        <p class="lead">Nombre o formato del cuarto archivo</p>
        <iframe src="https://www.youtube.com/embed/zGKudNnWho0" width="640" height="480"></iframe>
        <hr class="my-4">
        <p class="lead">Autor de la OVA</p>
    </div>
</div>

{% endblock %}