{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">La Sierra Nevada de Santa Marta y sus vertientes</h1>
        <hr class="my-4">
        <iframe src="https://drive.google.com/file/d/1tQGtIPeD_C1PO7VvhWYSRMRFsTQEzCcp/preview" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://drive.google.com/file/d/1tQGtIPeD_C1PO7VvhWYSRMRFsTQEzCcp/preview" target="_blank" role="button">Ver completo</a>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">La Metrópoli costeña</h1>
        <hr class="my-4">
        <iframe src="https://drive.google.com/file/d/1fYJMiPWiZYU9YZ1T74s0Do62nk-0qhnM/preview" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://drive.google.com/file/d/1fYJMiPWiZYU9YZ1T74s0Do62nk-0qhnM/preview" target="_blank" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}