{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Aparato Reproductor</h1>
        <hr class="my-4">
        <iframe src="https://drive.google.com/file/d/1fhPhqX9SfMK_MfdZFh9J6SLVXgNy8h4E/preview" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://drive.google.com/file/d/1fhPhqX9SfMK_MfdZFh9J6SLVXgNy8h4E/preview" target="_blank" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}