{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Aparato Reproductor</h1>
        <hr class="my-4">
        <iframe src="https://drive.google.com/file/d/1mkjrGVARjSqJd0NDj6I0eWPIh1UNERFP/preview" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://docs.google.com/document/d/1cNvOQJbsSgYY1aoBAqKhD08-fhOOGvRPNNaQeO5-2f4/edit?usp=sharing" target="_blank" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}