{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Ecosistemas en peligro</h1>
        <hr class="my-4">
        <iframe src="https://docs.google.com/document/d/1R9XnxQqhQPbGc1FPeu3-iAYNcR3vLcC5lomDoIHJBQY/edit?usp=sharing"></iframe>
        <a class="btn btn-danger btn-lg" href="" role="button">Ver completo</a>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Geografía de Colombia - Urckari</h1>
        <hr class="my-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PL8oGt07KBY" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a class="btn btn-danger btn-lg" href="https://www.youtube.com/embed/PL8oGt07KBY" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}