{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Ecosistemas en peligro</h1>
        <hr class="my-4">
        <iframe src="https://doc-0g-b0-apps-viewer.googleusercontent.com/viewer/secure/pdf/ji47houn7ns7j9omuefi9orqfn6eulol/2pulibkrd5iok3pido5m2obp17785hbi/1658446575000/drive/11324248824844214464/ACFrOgDdG0s56LOHe9-xqsS7IY9s4RIrAe5TDOBhkn-8NZDUfLp7suNdYY6e3h0oQ9GtEXJXkJB9tuEhAPOwJNb8IYlDjm3INQql_DOmooLX282Z1bJYfqbYBJ98ppSfSLVQ7rO4D2Ib2j7y1rbu?print=true&nonce=uq92f7ie68or0&user=11324248824844214464&hash=tkv8pbl4t41r1vrbmchafecv83j178f7"></iframe>
        <a class="btn btn-danger btn-lg" href="" role="button">Ver completo</a>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Geografía de Colombia - Urckari</h1>
        <hr class="my-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PL8oGt07KBY" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a class="btn btn-danger btn-lg" href="https://www.youtube.com/embed/PL8oGt07KBY" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}