{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Ecosistemas en peligro</h1>
        <hr class="my-4">
        <iframe src="https://drive.google.com/file/d/1mkjrGVARjSqJd0NDj6I0eWPIh1UNERFP/preview" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://drive.google.com/file/d/1mkjrGVARjSqJd0NDj6I0eWPIh1UNERFP/preview" target="_blank" role="button">Ver completo</a>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Geografía de Colombia - Urckari</h1>
        <hr class="my-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PL8oGt07KBY" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a class="btn btn-danger btn-lg" href="https://www.youtube.com/embed/PL8oGt07KBY" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}