{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Literatura del Neoclasicismo e Independencia</h1>
        <hr class="my-4">
        <iframe src="https://app.emaze.com/@AOTWZILIO/literatura-del-noeclasicismo-e-independencia-en-copy1?hidebuttons" width="640" height="480" allow="autoplay"></iframe>
        <a class="btn btn-danger btn-lg" href="https://app.emaze.com/@AOTWZILIO/literatura-del-noeclasicismo-e-independencia-en-copy1?hidebuttons" target="_blank" role="button">Ver completo</a>
    </div>
</div>

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Literatura Latinoamericana contemporanea</h1>
        <hr class="my-4">
        <iframe src="https://app.emaze.com/@AOZOZZLOF/literatura-latinoamericana" width="960px" height="540px" seamless webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><a href="https://www.emaze.com" target="_blank"><img src="//resources.emaze.com/mypres/css/images/embed.png" alt="Powered by emaze" style="margin: 5px; border: none;"></a>
        <a class="btn btn-danger btn-lg" href="https://app.emaze.com/@AOZOZZLOF/literatura-latinoamericana" target="_blank" role="button">Ver completo</a>
    </div>
</div>

{% endblock %}