{% extends "layout.html" %}

{% block content %}

<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Banco de OVA GNF</h1>
        <p class="lead">Funcionamiento del Banco de OVA (Apuntes GNF)</p>
        <iframe width="640" height="480" src="https://www.youtube.com/embed/zGKudNnWho0" title="Funcionamiento del Banco de OVA (Apuntes GNF)"  allow="autoplay"></iframe>
        <hr class="my-4">
        <h1 class="display-4">Camilo Perea Marquez</h1>
        <p class="lead">BANCO DE OBJETOS VIRTUALES DE APRENDIZAJE PARA LOS ESTUDIANTES DE BACHILLERATO DEL GIMNASIO NICOLÁS DE FEDERMAN</p>
        <iframe width="640" height="1200" src="https://drive.google.com/file/d/1U38VY_vOB1KkwLS9NC4U78yzbXi60F7W/preview"></iframe>
        <p class="lead">Realizado por: Camilo Perea Marquez, Estudiante 11 2022, Tutora: Monica Rozo Rojas</p>
        <hr class="my-4">
        <p class="display-4">Imagenes sacadas de</p>
        <a href='https://www.freepik.es/vectores/icono'>Vector de Icono creado por fullvector - www.freepik.es</a>
        <a href="https://storyset.com/work">Illustration by Freepik Storyset</a>
        <a href='https://www.freepik.es/vectores/banner'>Vector de Banner creado por roserodionova - www.freepik.es</a>
        <a href='https://pixabay.com/es/'>Vector de Banner creado por roserodionova - www.freepik.es</a>
    </div>
</div>
{% endblock %}