{% extends "layout.html" %}

{% block content %}

<style>

iframe{
    width: 100%;
    height: 150vh;
}
    
</style>
<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">Banco de OVA GNF</h1>
        <p class="lead">Funcionamiento del Banco de OVA (Apuntes GNF)</p>
        <iframe width="732" height="412" src="https://www.youtube.com/embed/zGKudNnWho0" title="Funcionamiento del Banco de OVA (Apuntes GNF)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h1 class="display-4">Camilo Perea Marquez</h1>
        <p class="lead">BANCO DE OBJETOS VIRTUALES DE APRENDIZAJE PARA LOS ESTUDIANTES DE BACHILLERATO DEL GIMNASIO NICOLÁS DE FEDERMAN</p>
        <iframe src="https://docs.google.com/document/d/1iTxnZaq-pR7nD9l3N0ztF4dd8lMI2UxD/edit?usp=sharing&ouid=105720031129498405979&rtpof=true&sd=true"></iframe>
        <p class="lead">Realizado por: Camilo Perea Marquez, Estudiante 11 2022, Tutora: Monica Rozo Rojas</p>
        <h1 class="display-4">Imagenes sacadas de</h1>
        <a href='https://www.freepik.es/vectores/icono'>Vector de Icono creado por fullvector - www.freepik.es</a>
        <a href="https://storyset.com/work">Illustration by Freepik Storyset</a>
        <a href='https://www.freepik.es/vectores/banner'>Vector de Banner creado por roserodionova - www.freepik.es</a>
        <a href='https://pixabay.com/es/'>Vector de Banner creado por roserodionova - www.freepik.es</a>
    </div>
</div>
{% endblock %}