<style>
</style>
<!DOCTYPE html>
<html>
<head>
    <title>Contacto</title>
</head>
<body>
<div class= "container">
    <h2>contactanos</h2>
    <form action="/form" method="POST">
        <input type="text" name="nombre" placeholder="Nombre" required/>
        <input type="email" name="correo" placeholder="Correo de contacto" required/>
        <input type="number" name="grado" placeholder="# de grado" required/>
        <textarea type="text" name="mensaje" placeholder="Escriba aqui su mensaje" required></textarea>
        <button class="btn btn-danger" type="submit" name="send">Enviar</button>
    </form>
    <a class="btn btn-danger" href="/first_page" role="button">Regresar</a>
</div>