{% extends "layout.html" %}

{% block content %}
<div class = 'container p-4'>
    <div class="jumbotron" >
        <h1 class="display-4">El Nitrogeno sus causas y problematicas</h1>
        <hr class="my-4">
        <p class="lead">El PRAE o Proyectos Ambientales Escolares, son una estrategia pedagógica, que busca que los estudiantes de las distintas instituciones, identifiquen y entiendan en su entorno, distintas situaciones ambientales prioritarias, para aplicar dinámicas particulares y colectivas frente a su ambiente institucional, local y territorial.</p>
        <p class="lead">La actividad que se va a presentar a continuación se enfoca en determinar las problemáticas que genera el nitrógeno, como que el exceso de nitrógeno en el ambiente producto de la combustión contamina el aire; cómo se produce, cómo mitigar estas problemáticas o cómo a partir de estas problemáticas se puede desarrollar una solución.</p>
        <p class="lead">Daniel Miranda - Juan Jose Martinez</p>
        <iframe src="https://drive.google.com/file/d/1StA-hKStsq22arjm3kwr4UPmcAcsoX_y/preview" width="640" height="480" allow="autoplay"></iframe>
        <p class="lead">Sofia Martinez</p>
        <iframe src="https://drive.google.com/file/d/1goyBcNOaXQvrKaiapy4RPiUpLVyQGAps/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>
</div>
{% endblock %}